@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Protest+Strike&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 10px;
}

header h1 {
    margin: 0;
    color: green;
}

header h2 {
    margin: 0;
    color: black;
    font-size: medium;
}

nav {
    background-color: green;
    padding: 10px ;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}

.content {
    padding: 5px;
}

.content h3 {
    font-weight: bold;
    font-size: medium;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.prog{
    background-color: rgb(252, 193, 191);
    font-family: 'Kanit';
 }
 .entorno{
     background-color: rgb(218, 191, 241);
     font-family: 'Kanit';
 }
 .fol{
     background-color: rgb(236, 252, 198);
     font-family: 'Kanit';
 }
 .dias{
     background-color: rgb(211, 123, 167);
 }
 .sost{
     background-color: rgb(107, 236, 107);
     font-family: 'Kanit';
 }
 .base{
     background-color: rgb(174, 233, 243);
     font-family: 'Kanit';
 }
 .leng{
     background-color: rgb(162, 146, 221);
     font-family: 'Kanit';
 }
 .hora{
     background-color: rgb(255, 255, 255);
 }
 .sist{
     background-color: rgb(218, 59, 98);
     font-family: 'Kanit';
 }
 .dig{
     background-color: rgb(20, 202, 90);
     font-family: 'Kanit';
 }
 .recreo{
     text-align: center;
     background-color: rgb(51, 157, 175);
     letter-spacing: 4.00em;
 }
 
 .Horario{
     background-color: rgb(255, 255, 255);
     font-family: 'Bebas Neue';
     font-size: xx-large;
     letter-spacing: 0.20em;
 }

 table{
     margin: auto;
     width: 40%;
     height:10px;
     text-align: center;
     margin-top:25px ;
     border-collapse: collapse;
 }
 td, th, tr{
     border-color: rgb(116, 160, 45);
     padding: 2px;
     border: 3px black solid;
 }